<div class="jumbotron text-centre">
  <h1>MEAN Auth App</h1>
  <p class="lead">Welcome to the auth app</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-success" [routerLink]="['/login']">Login</a>
  </div>
</div>
